h1{text-aling:center;font-weight:bold;color:slateblue}
h1{ text-align: center }
h2{text-aling:cent;font-weight:bold;color:purple}
h4{text-aling:center;font-weight:bold;color:indigo}
p{font-size:10pt; color:orchid;font-weight:bold;font-family:Aerial,Helvetica,Sans-Serif} 
img{border-style:ridge;border-width:20px;border-color:red green blue purple}






